@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
h2 {
  color: #025284 !important;
  text-align: center;
}

h5 {
  font-weight: 400 !important;
  color: white !important;
}

h6 {
  font-weight: 400 !important;
}

.h7 {
  font-weight: 300 !important;
  font-size: 0.8rem !important;
}

::placeholder {
  color: #025284;
  font-family: MyriadPro, sans-serif;
  font-size: 2rem;
}

#loginbackground {
  background-image: url("/img/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#loginsection {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

#div_for_form {
  padding-top: 12%;
  align-items: center;
  text-align: center;
}

#loginform {
  background: rgba(2, 82, 132, 0.8);
  border-radius: 10px;
  margin: auto;
  width: 45%;
  height: 100%;
  padding: 1%;
}

.lazytittle {
  font-size: 4.8em;
  padding-bottom: 1.5%;
  font-family: MyriadPro, sans-serif;
  color: #fff !important;
}

#username, #password {
  width: 90%;
  height: 8%;
  padding: 10px 10px 10px 25px;
  border-radius: 15px;
  font-size: 2rem;
  border-color: rgba(2, 82, 132, 0.8);
  margin-bottom: 4%;
}

#loginButton {
  text-align: center;
  padding-bottom: 3%;
  font-size: 2rem;
}

#lazybutton {
  width: 45%;
  border-radius: 15px;
  background-color: #025284;
  border-color: #fff;
  font-size: 2rem;
  color: #fff;
}

h2 {
  color: #025284 !important;
  text-align: center;
}

h5 {
  font-weight: 400 !important;
  color: white !important;
}

h6 {
  font-weight: 400 !important;
}

.h7 {
  font-weight: 300 !important;
  font-size: 0.8rem !important;
}

h2 {
  color: #025284 !important;
  text-align: center;
}

h5 {
  font-weight: 400 !important;
  color: white !important;
}

h6 {
  font-weight: 400 !important;
}

.h7 {
  font-weight: 300 !important;
  font-size: 0.8rem !important;
}

body, html {
  min-height: 100%;
  position: relative;
  margin: 0;
}

#page_top_picture {
  background-image: url("/img/page_top.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: scroll;
  position: relative;
  height: 250px;
}
#page_top_picture .p_t_button {
  position: absolute;
  bottom: -15px;
}
#page_top_picture .p_t_button .row #page_title {
  background-color: white;
  border: 1px solid #025284;
  border-radius: 12px;
}

.sidebar_section {
  margin-top: 70px;
  margin-bottom: 50px;
}
.sidebar_section .row #sidebar_menu {
  position: sticky;
}
.sidebar_section .row #sidebar_menu li:first-child {
  border-top-right-radius: 10px;
}
.sidebar_section .row #sidebar_menu li {
  list-style: none;
  background-color: #025284;
  margin-bottom: 2px;
  height: 35px;
  padding: 5px 5px 5px 10px !important;
}
.sidebar_section .row #sidebar_menu li:hover {
  background-color: white;
  border: 1px solid #025284;
  cursor: pointer;
}
.sidebar_section .row #sidebar_menu li:hover a h5 {
  color: #025284 !important;
}
.sidebar_section .row #sidebar_menu li a:hover {
  text-decoration: none;
}

.user_info_section {
  border-left: 1px solid #025284;
  padding-left: 0 !important;
}
.user_info_section .profile_details_section {
  padding-left: 0;
  margin-left: 0;
}
.user_info_section .profile_details_section .section_title {
  width: 100px;
}
.user_info_section .profile_details_section .profile_details {
  height: 150px;
  background-color: #025284;
  color: white;
  padding-left: 10px !important;
}
.user_info_section .profile_details_section .profile_details h6:first-child {
  padding-top: 10px;
}
.user_info_section .basic_info_section {
  margin-top: -90px;
  margin-bottom: 10px;
}
.user_info_section .basic_info_section .profile_img {
  border-radius: 50%;
  border: 1px solid black;
  height: 150px;
  width: 150px;
}
.user_info_section .basic_info_section .personal_info h5 {
  color: #025284 !important;
}
.user_info_section .basic_info_section .personal_info h6 a:hover {
  cursor: pointer;
}
.user_info_section .basic_info_section .personal_info h5, .user_info_section .basic_info_section .personal_info h6 {
  font-weight: 500 !important;
}
.user_info_section .biography_section {
  padding-left: 0;
  margin-top: 30px;
  margin-bottom: 30px;
}
.user_info_section .biography_section .section_title {
  width: 80px;
}
.user_info_section .biography_section .read_more_btn {
  background-color: #025284;
  border-radius: 5px;
  width: 100px;
  margin-left: 15px !important;
}
.user_info_section .biography_section .read_more_btn h6 {
  text-align: center;
  line-height: 30px;
  color: white;
}
.user_info_section .education_section {
  margin-left: 15px;
}
.user_info_section .education_section .education {
  border-left: 1px solid #025284;
  margin-bottom: 10px;
}
.user_info_section .education_section .education h5, .user_info_section .education_section .education h6 {
  color: #025284 !important;
}
.user_info_section .experience_section .section_title {
  width: 120px;
  margin-left: -15px;
}
.user_info_section .experience_section .experience {
  border-left: 1px solid #025284;
  padding-left: 15px;
}
.user_info_section .experience_section .experience h5 {
  color: #025284 !important;
  font-weight: 500 !important;
}
.user_info_section .experience_section .experience h6 {
  color: white !important;
}
.user_info_section .documents_section {
  margin-bottom: 50px;
  margin-top: 50px;
}
.user_info_section .documents_section .document {
  background-color: #025284;
  height: 70px;
  padding-left: 10px;
  padding-top: 15px;
  margin-bottom: 10px;
}
.user_info_section .documents_section .document h6 {
  color: white !important;
}
.user_info_section .section_title {
  background-color: #025284;
  color: white;
  height: 35px;
  width: 20%;
  border-bottom-right-radius: 10px;
  text-align: center;
  margin-bottom: 20px;
  line-height: 30px;
}
.user_info_section .add_btn {
  border: 1px solid #025284;
  border-radius: 5px;
  width: 150px;
  height: 35px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15px;
}
.user_info_section .add_btn h6 {
  color: #025284 !important;
  text-align: center;
  line-height: 30px;
}
.user_info_section .add_btn:hover {
  background-color: #025284;
  cursor: pointer;
}
.user_info_section .add_btn:hover h6 {
  color: white !important;
}

@media (max-width: 1100px) {
  #sidebar_menu {
    padding-left: 0;
  }

  .personal_info {
    margin-left: 20px;
  }
}
@media (max-width: 767px) {
  .section_title {
    width: 60% !important;
  }

  .profile_details_section {
    margin-bottom: 10px;
  }

  .basic_info_section {
    margin-top: 0 !important;
  }

  .profile_details {
    width: 40%;
  }
}
@media (max-width: 590px) {
  #page_title {
    width: 50%;
  }

  .user_info_section {
    margin-left: 10px;
  }

  .section_title {
    width: 30% !important;
  }

  #sidebar_menu {
    display: none;
  }

  .document {
    width: 60%;
  }
}
h2 {
  color: #025284 !important;
  text-align: center;
}

h5 {
  font-weight: 400 !important;
  color: white !important;
}

h6 {
  font-weight: 400 !important;
}

.h7 {
  font-weight: 300 !important;
  font-size: 0.8rem !important;
}

.event_section {
  padding-left: 0;
  margin-top: -90px;
  margin-bottom: 30px;
}
.event_section .section_title {
  width: 80px;
}
.event_section .read_more_btn {
  background-color: #025284;
  border-radius: 5px;
  width: 100px;
  margin-left: 15px !important;
}
.event_section .read_more_btn h6 {
  text-align: center;
  line-height: 30px;
  color: white;
}

.attendees_section {
  margin-bottom: 10px;
}
.attendees_section .organizer {
  margin-bottom: 10px;
}
.attendees_section .profile_img {
  border-radius: 50%;
  border: 1px solid black;
  height: 150px;
  width: 150px;
}
.attendees_section .personal_info {
  margin-left: 0 !important;
}
.attendees_section .personal_info h5 {
  color: #025284 !important;
  font-weight: 500 !important;
}
.attendees_section .attendees .attendees_img {
  border-radius: 50%;
  border: 1px solid black;
  height: 50px;
  width: 50px;
  float: left;
}
.attendees_section .attendees .attendee_info {
  margin-left: 55px;
}
.attendees_section .attendees .attendee_info h6 {
  color: #025284 !important;
  font-weight: 500 !important;
}

@media (max-width: 767px) {
  .event_section {
    margin-top: 0 !important;
  }
}
h2 {
  color: #025284 !important;
  text-align: center;
}

h5 {
  font-weight: 400 !important;
  color: white !important;
}

h6 {
  font-weight: 400 !important;
}

.h7 {
  font-weight: 300 !important;
  font-size: 0.8rem !important;
}

.project_pg_section {
  padding-left: 0;
  margin-top: -200px;
  margin-bottom: 30px;
}
.project_pg_section .section_title {
  width: 80px;
}
.project_pg_section .read_more_btn {
  background-color: #025284;
  border-radius: 5px;
  width: 100px;
  margin-left: 15px !important;
}
.project_pg_section .read_more_btn h6 {
  text-align: center;
  line-height: 30px;
  color: white;
}

.timeline_section {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 0;
}
.timeline_section .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #025284;
}
.timeline_section .row .project_action {
  position: relative;
  height: 80px;
  width: 80%;
  background-color: #025284;
  padding-left: 10px;
  padding-top: 15px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.timeline_section .row .project_action h6 {
  color: white;
}
.timeline_section .row .project_action .vertical_line {
  position: absolute;
  height: 25px;
  bottom: -25px;
  right: 50px;
  color: #025284;
  border-left: 1px solid #025284;
}
.timeline_section .row .project_action .action_responsible_img {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid white;
  bottom: -20px;
  right: -20px;
}

.timeline_section_bellow {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 0;
}
.timeline_section_bellow .project_action {
  position: relative;
  height: 80px;
  width: 80%;
  background-color: #025284;
  padding-left: 10px;
  padding-top: 15px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.timeline_section_bellow .project_action h6 {
  color: white;
}
.timeline_section_bellow .project_action .vertical_line_up {
  position: absolute;
  height: 40px;
  top: -40px;
  right: 50px;
  color: #025284;
  border-left: 1px solid #025284;
}
.timeline_section_bellow .project_action .action_responsible_img {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid white;
  bottom: -20px;
  right: -20px;
}

@media (max-width: 1100px) {
  .project_action {
    width: 90% !important;
  }
}
@media (max-width: 767px) {
  .project_pg_section {
    margin-top: 0 !important;
  }
}
