@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
body, html {
  height: 100%;
  position: relative;
  margin: 0px;
}

#page_top_picture {
  background-image: url("/img/page_top.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 250px;
}

.container-fluid {
  position: fixed;
  top: 200px;
  width: 100%;
}
.container-fluid .row #page_title {
  width: 30%;
  background-color: white;
  border: 1px solid #025284;
  border-radius: 10px;
  margin: auto;
}
.container-fluid .row #page_title h1 {
  text-align: center;
  color: #025284;
}
