
// ------------------ click_to_add  ----------------



.add_section{
  margin:{
    left: 35px;
    top:$section-margin-top;
    bottom:$section-margin-bottom;
  }


  .click_to_add{
    border-left: 1px solid $blue;
    margin-bottom: 10px;


    input{


      background: none;
      display: block;
      border:none;
      color:$blue;
      font-weight: 500;
      font-size: 1rem; //like h6
      &:first-child{
        font-size: 1.25rem; //h5
      }
    }

    #from_period_education, #to_period_education,
    #from_period_experience, #to_period_experience{
      display: inline;
    }

    #position_description{
      color:black;
      margin-bottom: 10px;
      background: none;
      border: none;
      resize:none;
      overflow:hidden;

      //maxlength:450;
    }

    .delete_icon{
      display: none;
      color:$blue;
      position:absolute;
      top:0;
      z-index: 10;
      left:200px;
      &:hover{
        cursor:pointer;
      }
    }

  }
}