
// ------------------ click_to_add  ----------------

.add_section{
  margin:{
    left: 35px;
    top:$section-margin-top;
    bottom:$section-margin-bottom;
  }
  .click_to_add{
    border-left: 1px solid $blue;
    margin-bottom: 10px;

    h5, h6{
      color:$blue;
      font-weight: 500!important;

    }
    p {
      color:black;
    }
    .delete_icon, .edit_icon{
      display: none;
    }
    &:hover{

      .delete_icon, .edit_icon{
        display: inline;
        color:$blue;
        position:absolute;
        top:0;
        z-index: 10;
        &:hover{
          cursor:pointer;
        }
      }
      .delete_icon{
        left:200px;
      }

      .edit_icon{
        left:180px;
      }
    }
  }
}