.add_new_event {
  border-radius: 5px;
  color: white;
  border: 1px solid $blue;
  width: auto;
  height: 30px;
  background-color: $green;
  display: inline-block;
  border-color: white;
  padding-left: 3%;
  padding-right: 3%;
  &:hover {
    background-color: white;
    border: 1px solid $green;
    color: $green !important;

  }
}

.events_all_section {

  #events_all {
    .section_title {
      background-color: $green;
    }
    .see_more_btn {
      background-color: $green;
      display: inline-block;
      border-color: white;
      a {
        text-decoration: none;
      }
      &:hover {
        background-color: white;
        border: 1px solid $green;
        h6 {
          color: $green !important;
        }
      }
    }
    .p_e_card {
      border-color: $green;
      margin: 15% 3%;
      &:hover {
        box-shadow: 0 10px 30px 0 rgba(46, 61, 73, 0.8);
      }
    }

  }
}

#event_modal {
  margin-top: 2%;
  display: inline-block;
  color: $green;

  input {
    margin-right: 5%;
    width: 85%;
    height: 8%;
    padding: 10px;
    border-radius: $login-borders;
    font-size: $font-size-fields;
    border: 1px solid $green;
    margin-bottom: 5%;
    color: $green;
    box-shadow: 0 3px 15px 0 rgba(46, 61, 73, 0.2);

  }
  textarea {
    resize: none;
    margin-right: 5%;
    width: 85%;
    height: 8%;
    padding: 10px;
    border-radius: $login-borders;
    font-size: $font-size-fields;
    border: 1px solid $green;
    margin-bottom: 5%;
    color: $green;
    box-shadow: 0 3px 15px 0 rgba(46, 61, 73, 0.2);

  }

  .select_field {
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $green;
      opacity: 1; /* Firefox */
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: $green;
    }

    ::-ms-input-placeholder { /* Microsoft Edge */
      color: $green;
    }
    margin-bottom: 15px;

    select {
      color: $green;
      width: 85%;
      height: 8%;
      padding: 10px;
      list-style: none;
      border-radius: $login-borders;
      font-size: $font-size-fields;
      border: 1px solid $green;
      margin-bottom: 5%;

      box-shadow: 0 3px 15px 0 rgba(46, 61, 73, 0.2);
      &:last-child(option) {
        border-bottom: none;
      }
    }
  }
}

#modal_heading {
  color: white;
  font-size: 2rem;
  padding-left: 3%;

}

.modal-header {
  background: url($page-top);
  background-size: cover;

}

#footer_event {
  .allgood {
    color: $green !important;

  }

}

.notallgood {
  color: red;
}

