
body, html{
  height: 100%;
  position: relative;
  margin:0;
  color:$text-color;
  overflow-x: hidden;

}
#body_home{
  #page_top_picture{
    .profile_img{
      display: block!important;

    }

  }
}


.disabled_content{
  pointer-events: none;
  opacity: 0.4;
}

.unabled_content{
  opacity: 1 !important;
  pointer-events: all !important;
}


.style_input{
  border: 2px solid rgb(227, 226, 221)!important;

  margin-top:5px;
  padding-left: 2px;

}










