
body, html{
  height: 100%;
  position: relative;
  margin:0;
  color:$text-color;
  overflow-x: hidden;

}
#body_home{
  #page_top_picture{
    .profile_img{
      display: block!important;
    }
  }
}







