// --------- read more button ---------
// staying on same page

// ---------------- see more button -----------
// leads to another page


.read_more_btn, .read_less_btn, .see_more_btn, .submit_btn,  .save_btn, .cancel_btn{
  background-color: #025284;
  border-radius: 5px;
  border:1px solid $blue;
  width:100px;
  height:30px;
  cursor: pointer;

  h6{
    text-align: center;
    color:white!important;
    font-weight: 300;
    line-height: 25px;
  }

  &:hover{
    cursor:pointer;
    background-color: white;
    border: 1px solid $blue;
    h6{
      color:$blue!important;
    }
  }

}

.read_more_btn{
  display: none;
}



.save_btn{
  right:130px;
}
.cancel_btn{
  right:10px;

}

.save_btn, .cancel_btn{
  position: absolute;
  width:110px;
  margin-bottom: 10px;

  display: none;
}



// ------------ edit button ------------



.edit_btn{
  background-color: #fff;
  opacity:0.4;
  h6{
    color: #777 !important;
  }
  &:hover{
    opacity:0.7;
    h6{
      color: #777 !important;
    }
  }
}

// ------------ add something button ----------



#add_education, #add_experience{
  display: none;
}

.add_btn{
  border:1px solid $blue;
  border-radius: 5px;
  width: 150px;
  height:35px;
  margin:{
    bottom:10px;
  }

  h6{
    color:$blue!important;
    text-align: center;
    line-height: 30px;
  }

  &:hover{
    background-color: $blue;
    cursor:pointer;
    h6{
      color:white!important;

    }
  }
}


