#alert-wrapper{
	position:fixed;
	z-index:5;
	background-color: white;
	color:$blue;
	border: 1px solid $blue;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	height:200px;
	width:350px;
	display: none;
	opacity:0;
	transition: .2s all ease;
	
	.alert-header {
		height: 50px;
		position: fixed;
		top:0px;
		width:100%;
		text-align: center;
		background-color: $blue;
		color:white;
		padding-top:10px;
		padding-bottom:10px;


	}

	.alert-content {
		text-align:center;
		width:100%;
		position: fixed;
		top:60px;

	}
	.alert-footer {
		bottom:0;
		height: 50px;
		text-align: right;
		padding-right: 15px;
		padding-top:15px;
		position: fixed;
		bottom:10px;
		width:100%;

	}
}
