// -------- biography section -----------



.description_section{
  margin:{
    left: 25px;
    top:$section-margin-top;
    bottom:$section-margin-bottom;
  }

  p{
    color: black!important;
  }


}