

// --------------- main section --------------


.main_content_section{
  border-left: 1px solid $blue;
  padding-left:0 !important;
  position: relative;

  .details_section{
    margin:{
      left: 25px;
      bottom:$section-margin-bottom;
      top:$section-margin-top;
    }

    p{
      color:black;
    }

    textarea{
      color: black;
      background: none;
      border: none;
      outline: none;
      resize: none;
      overflow: hidden;
      transition: all 0.9s ease;
    }

    .details_div{
      min-height:100px;
      background-color:$blue;
      color:white;
      padding-left: 10px!important;
      h6:first-child{
        padding-top:10px;

      }
      input{
        background: none;
        border:none;
        color:white;
      }
      select{
        background: $blue;
        color:white;
        border:none;

          /* for Firefox */
          -moz-appearance: none;
          /* for Chrome */
          -webkit-appearance: none;

      }
    }

  }









}





