@import "variables";

// ------------ event section ------------

.event_section{
  padding-left: 0;
  margin-top:-90px;
  margin-bottom:30px;
  .section_title{
    width:80px;
  }

  .read_more_btn{
    background-color: #025284;
    border-radius: 5px;
    width:100px;
    margin-left: 15px!important;
    h6{
      text-align: center;
      line-height: 30px;
      color:white;
    }
  }
}

// ------------------- attendees section ----------------

.attendees_section {
  .organizer{
    margin-bottom: 10px;
  }

  margin-bottom: 10px;
  .profile_img {
    border-radius: 50%;
    border: 1px solid black;
    height: 150px;
    width: 150px;

  }
  .personal_info {
    margin-left:0!important;
    h5 {
      color: $blue !important;
      font-weight: 500 !important;
    }

  }

  .attendees{

   .attendees_img{
      border-radius: 50%;
      border: 1px solid black;
      height: 50px;
      width: 50px;
      float:left;
    }

    .attendee_info{
      margin-left:55px;
      h6 {
        color: $blue !important;
        font-weight: 500 !important;
      }
    }




  }

}

@media (max-width:767px){
  .event_section{
    margin-top:0!important;
  }
}