// ------------------------------------------------

.hr_button {
  cursor: pointer;
  border-radius: 5px;
  color: white;
  border: 1px solid $blue;
  width: auto;
  height: 30px;
  background-color: $blue;
  display: inline-block;
  border-color: white;
  padding-left: 3%;
  padding-right: 3%;
  float: right;

  &:hover {
    background-color: white;
    border: 1px solid $blue;
    color: $blue !important;

  }
}

#user_modal{
  margin-top: 2%;
  display: inline-block;
  input {
    margin-right: 5%;
    width: 85%;
    height: 8%;
    padding: 10px;
    border-radius: $login-borders;
    font-size: $font-size-fields;
    border: 1px solid $blue;
    margin-bottom: 5%;
    color: $blue;
    box-shadow: 0 3px 15px 0 rgba(46, 61, 73, 0.2);

  }
}

#modal_heading_event {
  color: white;
  font-size: 2rem;
  padding-left: 3%;

}

.modal-header {
  background: url($page-top);
  background-size: cover;

}

.resizeable_field{

  min-width:55px!important;
  max-width:350px!important;

  transition: width 0.1s;
  text-align:left;
}
