
// ------------------------------------------------



#hr_form {
text-align: center;
  label{
    font-size: $font-size-fields;
  }
  input {
    width: 85%;
    height: 8%;
    padding: 10px;
    border-radius: $login-borders;
    font-size: $font-size-fields;
    border: 1px solid;
    margin-bottom: 5%;
    color: $text-color;
    box-shadow: 0 3px 15px 0px rgba(46, 61, 73, 0.2);

  }


}


.hr_tittle{
  margin-top:30px;
  padding-bottom: 1.5%;
  color: $text-color-headings !important;
}


#hr_button{
  text-align: center;
  padding-bottom: 3%;
  button{
    width:auto;
    border-radius: $login-borders;
    background-color: $blue;
    border-color: $blue;
    font-size: $font-size-fields;
    color:$login-button;
    margin-top: 5%;
    box-shadow: 0 3px 15px 0px rgba(46, 61, 73, 0.9);
    padding-left: 3%;
    padding-right: 3%;
  }
}

