
// ------------------------------------------------


#login_background {
  background-image: url($background-picture);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#login_section {
  position: fixed;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);

}
#div_for_form{
  align-items: center;
  text-align: center;
}
#login_form{
  background: $bck-color-with-opacity;
  border-radius: 10px;
  margin: auto;
  height: 100%;
  padding: 1%;

  input{
    width:70%;
    height: 8%;
    padding: 10px 10px 10px 25px;
    border-radius: $login-borders;
    font-size: $font-size-fields;
    border-color: $bck-color-with-opacity;
    margin-bottom: 4%;
    color:$text-color;
  }


}
.lazy_tittle{
  margin-top:30px;
  padding-bottom: 1.5%;
  color: $text-color-headings !important;
}


#login_button{
  text-align: center;
  padding-bottom: 3%;
  button{
    width:35%;
    border-radius: $login-borders;
    background-color: $blue;
    border-color: $text-color-headings;
    font-size: $font-size-fields;
    color:$login-button;
  }
}

