@import "variables";

body, html{
  height: 100%;
  position: relative;
  margin:0px;
}


#page_top_picture{
  background: {
    image: url($page-top);
    size: cover;
    position: bottom;
    repeat: no-repeat;
    attachment: scroll;
  }

  height: $page-top-height;
}