::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $blue;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $blue;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: $blue;
}
.review{
  height: 180px;
  background-color: $blue;
  padding:{
    top:15px;
    left:15px;
    right: 15px;
  }
  border-bottom-right-radius: 10%;
  border-top-left-radius: 10px;
  width: 85%;
  margin-bottom:10px;

  .select_field{
    margin-bottom: 15px;

    select {
      color: $blue;
      padding-bottom: 2%;
      width: 70%;
      list-style: none;
      border-bottom-right-radius: 10px;
      border-top-left-radius: 10px;
      &:last-child(option){
        border-bottom:none;
      }

      option{
        &:hover{
          background-color: $blue;
          //dfgljdfkghdjk
        }
      }
    }

  }

  .profile_img{
    display: none;
    height:30px;
    width:30px;
    border-radius: 50%;
  }

  .review_text{


    textarea, .text{
      color: $blue;
      background-color: white;
      border-bottom-right-radius: 10%;
      border-top-left-radius: 10%;
      height: 100px;
      width: 90%;

    }
    .text{
      display: none;
    }

  }

}