.review_section{
  margin:{
    bottom: $section-margin-bottom;
    top:$section-margin-top;
    left:25px;
  }

  #add_review{
    float:right;
  }

  .review{

    .profile_img{
      display:block;
      margin:auto;
      margin-bottom:10px;

    }
    .review_text{

      .text{
        display: block;
      }
    }
  }
}