// section title

.section_title{
  background-color: $blue;
  color:white;
  height:35px;
  //width:20%;
  border-bottom-right-radius: 10px;
  text-align: center;
  margin:{
    bottom: 20px;
    left:-15px;
  }
  line-height: 30px;


}