// ---------------- user info --------------

.user_info_section{

  margin-bottom: $section-margin-bottom;
  .profile_img {
    border-radius: 50%;
    border: 1px solid black;
    height: 150px;
    width: 150px;

  }
  .personal_info{
    margin-left: 25px;
    input{
      color:$blue;
      background: none;
      border:none;
      display: block;
      &:first-child, &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5) {
        font-size: 1.25rem;

      }
    }
    h6 a:hover{
      cursor:pointer;
    }
    input, h6{
      font-weight: 500!important;
    }
  }
}