
// Colors

$blue:#025284;



//Opacity

$bckg-img-opacity:30%;
$bck-color-with-opacity: rgba(2, 82, 132, 0.8);

//Images
$page-top:"/img/page_top.jpg";
$page-top-height:250px;
$background-picture: "/img/background.jpg";

// Typography
$font-family-sans-serif: "Miriad", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$text-color: #636b6f;
$font-size-fields:2rem;
$text-color-headings: #fff;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;
$login-button: #fff;

// Panels
$panel-default-heading-bg: #fff;

// Fields login
$login-fields:90%;
$login-borders:15px;